<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.tool.mapper.UserMapper">
    <select id="getUserList" resultType="com.qin.tool.entity.User">
        select * from user
    </select>
    <!--根据id查询-->
    <select id="getUserByID" resultType="com.qin.tool.entity.User" parameterType="Integer">
        select * from user where id = #{id}
    </select>
    <!--添加用户-->
    <!--对应对象的属性-->
    <insert id="insertUser" parameterType="com.qin.tool.entity.User">
        insert into user (id, username, password) VALUES (#{id},#{username},#{password})
    </insert>
    
    <!--修改用户信息-->
    <update id="updateUser" parameterType="com.qin.tool.entity.User">
        update user set username=#{username},password=#{password} where id=#{id};
    </update>

    <!--删除语句-->
    <delete id="deleteUser" parameterType="com.qin.tool.entity.User">
        delete  from user where id=#{id}
    </delete>

    <!--模糊查询-->
    <select id="findUserByName" resultType="com.qin.tool.entity.User" >
        select * from user where username like #{name}"%"
    </select>
</mapper>